## Georgina Tolgos Submission

 ### Data Retrieval

Getting the data from the s3 bucket, used the boto3 library

In [ ]:
pip install boto3

In [57]:
import boto3
import pandas as pd

In [97]:
from boto3.session import Session

key_id = 'AKIAQ2NPCLFFJPFJOLEZ'
secret_access_key = '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'

s3 = boto3.client('s3', aws_access_key_id=key_id, aws_secret_access_key=secret_access_key)

industries_response = s3.get_object(Bucket="moz-sr-data-analyst",Key="industries.csv")

industry_file = industries_response["Body"]

industry_data = pd.read_csv(industry_file)

industry_data

            industry  industry_key
0   Marketing Agency             5
1                NaN             9
2                NaN            10
3        health care             1
4         healthcare             2
5   marketing agency             4
6        mktg agency             3
7                NaN            11
8           software             6
9                unk             8
10           unknown             7

In [68]:
columns_response = s3.get_object(Bucket="moz-sr-data-analyst",Key="columns.tsv")

columns_file = columns_response["Body"]

columns_data = pd.read_csv(columns_file)

columns_data

                 column_name\tposition
0                                id\t0
1                      industry_key\t1
2                         geography\t2
3               most_common_browser\t3
4  session_time_prior_month_seconds\t4
5                  prior_month_paid\t5

#### Customer Data

This was more challenging for me with a persistent error. I instead converted the parquet data to csv, merged them and dropped them into my s3 bucket. It is publicly available

In [79]:
#Importing customer data
customer_data = s3.get_object(Bucket="moz-gt-test",Key="customer_data.csv")

customer_object = customer_data["Body"]

cumulative_customer_data = pd.read_csv(customer_object)

cumulative_customer_data.head()

   Unnamed: 0           0  1              2       3       4           5
0         0.0  1418200170  1             US      IE  1682.0  105.932246
1         1.0  1418200182  4         Canada  Chrome  2824.0  117.570502
2         2.0  1418200189  4            Esp      IE  2236.0   77.349066
3         3.0  1418200194  2            Esp  Chrome  2480.0   48.719494
4         4.0  1418200206  5  United States  Chrome   285.0  113.691472

Renaming the columns for readability

In [80]:
#rename columns
cumulative_customer_data = cumulative_customer_data.rename(index=str, 
                                                           columns={"0": "id",
                                                                   "1": "industry_key",
                                                                   "2": "geography",
                                                                   "3": "most_common_browser",
                                                                   "4": "session_time_prior_month_seconds",
                                                                   "5": "prior_month_paid"})

### Cleaning the Data

Any duplicate customer records should be deleted

In [81]:
# sorting by customer id, cleaning up any duplicate records
#cumulative_customer_data = cumulative_customer_data.sort_values("id", inplace = True)
  
# dropping ALL duplicte values
#cumulative_customer_data = cumulative_customer_data.drop_duplicates(subset ="id",
                     #keep = False, inplace = True)

Countries with different values should have a consistent name across the data set.

In [82]:
#Countries have different names but refer to same country, e.g. US, USA, America
cumulative_customer_data = cumulative_customer_data.replace(dict.fromkeys(['US','America','United States'], 'USA'))

In [83]:
#Esp with Spain
cumulative_customer_data = cumulative_customer_data.replace('Esp', 'Spain')

Exporting the cleaned data set. Also available in my s3 bucket

In [84]:
#Export data file
cumulative_customer_data.to_csv('customer_data_cleaned.csv')
cumulative_customer_data.head(10)

,Unnamed: 0,id,industry_key,geography,most_common_browser,session_time_prior_month_seconds,prior_month_paid
0,0.0,1418200170,1,USA,IE,1682.0,105.932246
1,1.0,1418200182,4,Canada,Chrome,2824.0,117.570502
2,2.0,1418200189,4,Spain,IE,2236.0,77.349066
3,3.0,1418200194,2,Spain,Chrome,2480.0,48.719494
4,4.0,1418200206,5,USA,Chrome,285.0,113.691472
5,5.0,1418200227,5,USA,Chrome,55.0,105.420000
6,6.0,1418200236,5,USA,Chrome,4234.0,139.200425
7,7.0,1418200251,2,France,Chrome,9281.0,67.251476
8,8.0,1418200253,5,France,IE,663.0,61.552944
9,9.0,1418200254,7,UK,Safari,405.0,18.506123

Industries with different values should have a consistent name across the data set as well.

In [98]:
industry_data = industry_data.replace(dict.fromkeys(['marketing agency','mktg agency'], 'Marketing Agency'))

In [99]:
industry_data = industry_data.replace(dict.fromkeys(['health care', 'healthcare'], 'Healthcare'))

In [100]:
industry_data = industry_data.replace(dict.fromkeys(['unknown','unk'], 'Unknown'))

industry_data

            industry  industry_key
0   Marketing Agency             5
1                NaN             9
2                NaN            10
3         Healthcare             1
4         Healthcare             2
5   Marketing Agency             4
6   Marketing Agency             3
7                NaN            11
8           software             6
9            Unknown             8
10           Unknown             7

In [101]:
#Exporting industry data
industry_data.to_excel('industry_data.xlsx')

### Questions

##### What information about a user seems to be informative about how much they paid in the prior month?

Highest paying customers also have a lot of session time logged. This shows that they are more likely to come stay. As such, lowest paying with very little session time are more likely to leave.


##### Which segment of customers should Moz target for marketing?
These least active customers should be targeted for marketing, hopefully trying to get them to reconsider the product.

In [102]:

#Sorting the data to show this:

paying_customers = cumulative_customer_data.sort_values(by=['session_time_prior_month_seconds', 'prior_month_paid'], ascending=False)

##### What would your recommended next steps for the business be?

I recommend focusing on the active and highest paying customers, incentivising them to stay and providing exceptional support. This would guarantee continued business and a stable support for the business.

They should also be targeted for marketing, specifically with any new features and updates to the product in addition to any new perks.

In [36]:
paying_customers_subset = paying_customers.head(1000000) #max excel
paying_customers_subset.to_excel('customer_data.xlsx', index = False)

### Submissions

Link to Tableau Public

In [ ]:
https://public.tableau.com/profile/georgina7470#!/vizhome/ZomCustomers/CustomerUse?publish=

S3 Bucket

In [105]:
bucket = ('s3://moz-gt-test/')